<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
   
</head>
<body style="background-image: url('/static/img/bg-image1.jpg'); background-repeat: no-repeat; background-size: cover;">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <div class="container">
        <h1 style="color: black; align-items: center;">Movie Recommendation</h1>
        <form action="/search" method="post">
            <input type="text" name="movie" placeholder="Enter a movie title" required>
            <button type="submit">Recommend</button>
        </form>
        {% if movie %}
        <h2 style="color: black;">Recommendations for "{{ movie }}"</h2>
        <div class="recommendations">
            {% for rec in recommendations %}
            <div class="movie-card">
                {% if rec.poster %}
                <img src="{{ rec.poster }}" alt="{{ rec.title }}">
                {% else %}
                <img src="https://via.placeholder.com/150" alt="No Poster Available">
                {% endif %}
                <h3>{{ rec.title }}</h3>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>
